<ion-toolbar color="primary">
  <ion-title>Obra en seguimiento</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="close()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div *ngIf="verEventDet">

    <ion-item>
      <ion-label position="stacked">Obra</ion-label>
      <ion-input tpye="text" [(ngModel)]="event.nombre_obra" readonly="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tipo de obra</ion-label>
      <ion-input tpye="text" [(ngModel)]="event.tipo_obra" readonly="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Dirección de la obra</ion-label>
      <p> {{ event.direccion_vendedor }}
      </p>
      <ion-buttons slot="end">
        <ion-button (click)="openMap()">
          <ion-icon slot="icon-only" name="map"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Cliente</ion-label>
      <ion-input tpye="text" *ngIf="!event.idCli" [value]="'Sin asignar'" readonly="true"></ion-input>
      <ion-input tpye="text" *ngIf="event.idCli" [(ngModel)]="event.nombreCli" readonly="true"></ion-input>
      <ion-buttons slot="end" *ngIf="!event.idCli">
        <ion-button (click)="activarSeccion('verAsigCli');">
          <ion-icon name="person" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-segment value="map" color="tertiary">
      <ion-segment-button value="call" *ngIf="event.accion_seg=='Llamada'" (click)="callNow()">
        <ion-label>{{ event.accion_seg }}</ion-label>
        <img src="assets/icon/llamada.png" width="30">
      </ion-segment-button>

      <ion-segment-button value="call" *ngIf="event.accion_seg=='Visita'" (click)="openMap()">
        <ion-label>{{ event.accion_seg }}</ion-label>
        <img src="assets/icon/visita.png" width="30">
      </ion-segment-button>

      <ion-segment-button value="favorite">
        <ion-label>{{ event.tipo_seg }}</ion-label>
        <img *ngIf="event.tipo_seg=='Prospecto'" src="assets/icon/prospecto.png" width="30">
        <img *ngIf="event.tipo_seg=='Seguimiento'" src="assets/icon/seguimiento.png" width="30">
        <img *ngIf="event.tipo_seg=='Cotización'" src="assets/icon/presupuesto.png" width="30">
      </ion-segment-button>
    </ion-segment>

    <ion-item>
      <ion-label position="stacked">Responsable de la obra:</ion-label>
      <ion-input tpye="text" [(ngModel)]="event.resp_obra" placeholder="Nombre del responsable..." readonly="true">
      </ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="activarSeccion('verEditObra')">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contacto</ion-label>
      <ion-input tpye="text" [(ngModel)]="event.cont_resp" placeholder="Celular del responsable" readonly="true">
      </ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="callNow()">
          <ion-icon slot="icon-only" name="call"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item *ngIf="event.historial">
      <ion-label>Visitas</ion-label>
      <ion-note slot="end">{{ event.historial.length }}</ion-note>
      <ion-buttons slot="end">
        <ion-button (click)="activarSeccion('verHist');">
          <ion-icon name="eye" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Conmentarios</ion-label>
      <ion-input tpye="text" [(ngModel)]="event.comentarios" placeholder="Comentarios de la obra..." readonly="true">
      </ion-input>
    </ion-item>

    <section class="ion-text-center">
      <ion-button color="success" (click)="verSeguimiento()">
        Registrar Seguimiento <ion-icon name="checkmark-circle"></ion-icon>
      </ion-button>
    </section>

  </div>

  <div *ngIf="verRegSeguimiento">

    <h2 class="ion-text-center">Datos del seguimiento</h2>

    <ion-item class="rounded">
      <div>
        <br>
        <p> <b>Obra Seleccionada: </b></p>
        <p> {{ event.nombre_obra }}</p>
        <p> <b>Cliente: </b></p>
        <p *ngIf="!event.idCli"> Sin asignar</p>
        <p *ngIf="event.idCli"> {{ event.nombreCli }}</p>
      </div>
    </ion-item>


    <ion-list>

      <div>
        <ion-radio-group [(ngModel)]="estatusObra">
          <ion-list-header>
            <ion-label>Definir estatus de obra</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Seguimiento</ion-label>
            <ion-radio slot="start" value="seguimiento"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Inactiva</ion-label>
            <ion-radio slot="start" value="inactiva"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Otro proveedor</ion-label>
            <ion-radio slot="start" value="otro proveedor"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Terminada</ion-label>
            <ion-radio slot="start" value="terminada"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>

      <div *ngIf="estatusObra != 'terminada' && estatusObra != ''">
        <ion-item>
          <ion-label>Datos de Seguimiento</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Fecha: </ion-label>
          <ion-datetime placeholder="Selecciona la fecha" [min]="today" [max]="maxDate"
            monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
            [(ngModel)]="f_seguimiento" displayFormat="MMM DD, YYYY">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Hora: </ion-label>
          <ion-datetime placeholder="Selecciona la hora" [(ngModel)]="h_seguimiento" displayFormat="hh-mm-A">
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Tipo de seguimiento:</ion-label>
          <ion-select placeholder="Selecciona una opción" [(ngModel)]="tipo_seg">
            <ion-select-option value="Prospecto">Prospecto</ion-select-option>
            <ion-select-option value="Cotización">Cotización</ion-select-option>
            <ion-select-option value="Seguimiento">Seguimiento</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Acción del seguimiento:</ion-label>
          <ion-select placeholder="Selecciona una opción" [(ngModel)]="accion_seg">
            <ion-select-option value="Llamada">Llamada</ion-select-option>
            <ion-select-option value="Visita">Visita</ion-select-option>
          </ion-select>
        </ion-item>
      </div>


      <div *ngIf="estatusObra == 'terminada'">
        <ion-item>
          <ion-label>Motivo de termino:</ion-label>
          <ion-select placeholder="Selecciona una opción" [(ngModel)]="motivoGeneralTerm">
            <ion-select-option value="Otro proveedor">Otro proveedor</ion-select-option>
            <ion-select-option value="Termino de obra">Termino de obra</ion-select-option>
            <ion-select-option value="Cancelada por gobierno">Cancelada por gobierno</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <ion-item>
        <ion-textarea class="rounded" rows="3" placeholder="Comentarios de la visita..."
          [(ngModel)]="comenttariosVisita">
        </ion-textarea>
      </ion-item>
      
      <section>
        <ion-button (click)="verDetObra()">
          <ion-icon name="arrow-back-circle"></ion-icon> Regresar
        </ion-button>
        <ion-button color="success" [disabled]="!validaVisita()" (click)="guardarVisita()">
          Guardar <ion-icon name="checkmark-circle"></ion-icon>
        </ion-button>
      </section>


    </ion-list>

  </div>

  <div *ngIf="verHist">

    <h2 class="ion-text-center">Historial de la obra</h2>

    <ion-item>
      <div>
        <br>
        <p> <b>Obra Seleccionada: </b></p>
        <p> {{ event.nombre_obra }}</p>
        <p> <b>Cliente: </b></p>
        <p *ngIf="!event.idCli"> Sin asignar</p>
        <p *ngIf="event.idCli"> {{ event.nombreCli }}</p>
      </div>
    </ion-item>

    <ion-card *ngFor="let h of event.historial; let i = index">
      <ion-card-header>
        <ion-card-subtitle>No visita: {{ i + 1 }}</ion-card-subtitle>
        <ion-card-title>{{ h.vendedorName }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><small>{{ h.fecha.toDate() | date: 'yyyy-MM-dd HH:mm' }}</small></p>
        <p>{{ h.observaciones }}</p>
      </ion-card-content>
    </ion-card>

    <section>
      <ion-button (click)="verDetObra()">
        <ion-icon name="arrow-back-circle"></ion-icon> Regresar
      </ion-button>
    </section>


  </div>



  <div id="verEditObra" *ngIf="verEditObra">
    <form [formGroup]="formObra">
      <ion-item>
        <ion-label position="floating">Responsable obra: </ion-label>
        <ion-input formControlName="resp_obra" [(ngModel)]="event.resp_obra" placeholder="Responsable de la obra">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contacto responasable: </ion-label>
        <ion-input type="tel" [(ngModel)]="event.cont_resp" formControlName="cont_resp" placeholder="000-000-0000">
        </ion-input>
      </ion-item>
    </form>
    <section>
      <ion-button (click)="verDetObra()">
        <ion-icon name="arrow-back-circle"></ion-icon> Regresar
      </ion-button>
      <ion-button color="success" (click)="actualizarObra()">
        <ion-icon name="checkmark-circle"></ion-icon> Guardar
      </ion-button>
    </section>
  </div>


  <div id="verAsigCli" *ngIf="verAsigCli">
    <div *ngIf="SelCliente">
      <span> <b>Cliente seleccionado:</b> </span>
      <span> {{ SelCliente.nombre_cli }} </span>
      <section>
        <ion-button (click)="asigClienteFn()">
          <ion-icon name="contact"></ion-icon> Asignar cliente
        </ion-button>
      </section>
    </div>
    <app-clientes-tab #tabClientes [origen]="'visita'" (selectCli)="verCliente($event)"></app-clientes-tab>
    <section>
      <ion-button (click)="verDetObra()">
        <ion-icon name="arrow-back-circle"></ion-icon> Regresar
      </ion-button>
      <ion-button color="primary" (click)="activarSeccion('verAddCli')">
        <ion-icon name="add-circle"></ion-icon> Nuevo
      </ion-button>
    </section>
  </div>

  <div id="verAddCli" *ngIf="verAddCli">
    <ion-list>
      <form [formGroup]="formCliente">
        <ion-item>
          <ion-label position="floating">Nombre: </ion-label>
          <ion-input formControlName="nombre_cli"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">RFC: </ion-label>
          <ion-input formControlName="rfc_cli"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nombre contacto (admin): </ion-label>
          <ion-input formControlName="name_cont_admin_cli"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Número de contacto (admin): </ion-label>
          <ion-input type="tel" formControlName="num_cont_admin_cli"></ion-input>
        </ion-item>
      </form>
    </ion-list>

    <section>
      <ion-button (click)="activarSeccion('verAsigCli')">
        <ion-icon name="arrow-back-circle"></ion-icon> Regresar
      </ion-button>
      <ion-button color="success" [disabled]="!formCliente.valid" (click)="guardarCli('verAsigCli')">
        <ion-icon name="checkmark-circle"></ion-icon> Guardar
      </ion-button>
    </section>
  </div>



</ion-content>