<ion-header>
  <ion-toolbar class="header-f1">
    <ion-buttons slot="start" id="headerPrincipal">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="bienvenida1">Registro de seguimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="form-content content-f1">

  <div class="spin spinner-center" *ngIf="!done">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <div *ngIf="done">
    <ion-list *ngIf="bandSeg" lines="none" style="background: rgb(252, 255, 252, 0.4);">
      <ion-item style="font-size: x-small;">
        <ion-label>Tu seguimiento se esta registrando, mantener la aplicación en uso</ion-label>
      </ion-item>
      <ion-item-sliding>
        <agm-map [style.height.px]="height" [zoom]="zoom" [latitude]="lat2" [longitude]="lng2">
          <agm-marker [zIndex]="10" [latitude]="lat2" [longitude]="lng2" [iconUrl]=" iconData2">
          </agm-marker>
        </agm-map>
      </ion-item-sliding>
      <ion-item>
        <ion-button expand="block" (click)="verBitacora()">
          Bitácora
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="!bandSeg" lines="none" style="background: rgb(252, 255, 252, 0.4);">
      <ion-list-header>
        <ion-label>Regostro de bitácora</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">Comentarios</ion-label>
        <ion-textarea [(ngModel)]="comentarios"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-button color="success" expand="block" (click)="regBitacora()">
          Guardar
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="danger" expand="block" (click)="cancelBitacora()">
          Cancelar
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>