<ion-header>
  <ion-toolbar class="header-f1">
    <ion-buttons slot="start" id="headerPrincipal">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="bienvenida1">Registrar visita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="form-content content-f1">

  <div class="spin spinner-center" *ngIf="!done">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <div *ngIf="done">

    <div *ngIf="step==1">
      <h1>Selecciona una opción</h1>
      <br>
      <ion-button (click)="cambioStep(1,'existente')" fill="solid" expand="block" size="large" class="sqare_button">
        <div class="vertical">
          <span class="">Obra existente</span>
          <ion-icon slot="start" name="star"></ion-icon>
        </div>
      </ion-button>
      <br>
      <ion-button (click)="cambioStep(1,'nueva')" fill="solid" expand="block" size="large" class="sqare_button">
        <div class="vertical">
          <span class="">Obra nueva</span>
          <ion-icon slot="start" name="add-circle"></ion-icon>
        </div>
      </ion-button>
    </div>

    <div *ngIf="step==2">
      <h1>Obra Existente</h1>
      <h3>Elige una Obra de la sigueinte lista</h3>
      <ion-item>
        <ion-input type="text" #Filtro1  placeholder="Filtro por nombre..." [ngModel]="textFilter"
           (ngModelChange)="updateFilter($event)"></ion-input>
      </ion-item>
      <br>
      <app-obras-tab #tabObras (selectObra)="verObra($event)" [filtros]="dataFiltros" [origen]="'visita'"
        [filtroVendedor]="true"></app-obras-tab>

      <ion-list *ngIf="currentObra">
        <ion-item class="rounded">
          <div>
            <br>
            <p> <b>Obra Seleccionada: </b></p>
            <p> {{ currentObra.nombre_obra }}</p>
            <p> <b>Cliente: </b></p>
            <p> {{ currentObra.nombreCli }}</p>
          </div>
        </ion-item>
      </ion-list>

      <section>
        <ion-button color="danger" (click)="backStep()">
          <ion-icon name="arrow-back-circle"></ion-icon> Regresar
        </ion-button>
        <ion-button [disabled]="!currentObra" (click)="cambioStep(2)">
          Siguiente <ion-icon name="arrow-forward-circle"></ion-icon>
        </ion-button>
      </section>

    </div>

    <div *ngIf="step==3 && verHist">
      <h2 class="ion-text-center">Historial de la obra</h2>

      <ion-item>
        <div>
          <br>
          <p> <b>Obra Seleccionada: </b></p>
          <p> {{ currentObra.nombre_obra }}</p>
          <p> <b>Cliente: </b></p>
          <p *ngIf="!currentObra.idCli"> Sin asignar</p>
          <p *ngIf="currentObra.idCli"> {{ currentObra.nombreCli }}</p>
        </div>
      </ion-item>
  
      <ion-card *ngFor="let h of currentObra.historial; let i = index">
        <ion-card-header>
          <ion-card-subtitle>No visita: {{ i + 1 }}</ion-card-subtitle>
          <ion-card-title>{{ h.vendedorName }}</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <p><small>{{ h.fecha.toDate() | date: 'yyyy-MM-dd HH:mm' }}</small></p>
          <p>{{ h.observaciones }}</p>
        </ion-card-content>
      </ion-card>
  
      <section>
        <ion-button (click)="activarHistorial()">
          <ion-icon name="arrow-back-circle"></ion-icon> Regresar
        </ion-button>
      </section>
    </div>

    <div *ngIf="step==3 && !verHist">
      <h1>Datos de la visita</h1>

      <ion-list *ngIf="tipoObra=='existente'">
        <ion-item class="rounded">
          <div>
            <br>
            <p> <b>Obra Seleccionada: </b></p>
            <p> {{ currentObra.nombre_obra }}</p>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Cliente</ion-label>
          <ion-input tpye="text" *ngIf="!currentObra.idCli" [value]="'Sin asignar'" readonly="true"></ion-input>
          <ion-input tpye="text" *ngIf="currentObra.idCli" [(ngModel)]="currentObra.nombreCli" readonly="true">
          </ion-input>
          <ion-buttons slot="end" *ngIf="!currentObra.idCli">
            <ion-button (click)="activarSeccion('verAsigCli');">
              <ion-icon name="person" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item *ngIf="currentObra.historial">
          <ion-label>Visitas</ion-label>
          <ion-note slot="end">{{ currentObra.historial.length }}</ion-note>
          <ion-buttons slot="end">
            <ion-button (click)="activarHistorial();">
              <ion-icon name="eye" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

      </ion-list>

      <ion-list *ngIf="tipoObra=='nueva'">
        <ion-item class="rounded">
          <div>
            <br>
            <p> <b>Obra Nueva: </b></p>
            <p> {{ formObra.controls['nombre_obra'].value }}</p>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Cliente</ion-label>
          <ion-input tpye="text" *ngIf="!detCliente.idCli" [value]="'Sin asignar'" readonly="true"></ion-input>
          <ion-input tpye="text" *ngIf="detCliente.idCli" [(ngModel)]="detCliente.nombreCli" readonly="true">
          </ion-input>
          <ion-buttons slot="end">
            <ion-button (click)="activarSeccion('verAsigCli');">
              <ion-icon name="person" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>

      <ion-list>
        <div>
          <ion-radio-group [(ngModel)]="estatusObra">
            <ion-list-header>
              <ion-label>Definir estatus de obra</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Seguimiento</ion-label>
              <ion-radio slot="start" value="seguimiento"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Inactiva</ion-label>
              <ion-radio slot="start" value="inactiva"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Otro proveedor</ion-label>
              <ion-radio slot="start" value="otro proveedor"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Terminada</ion-label>
              <ion-radio slot="start" value="terminada"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>

        <div *ngIf="estatusObra != 'terminada' && estatusObra != ''">
          <ion-item>
            <ion-label>Datos de Seguimiento</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Fecha: </ion-label>
            <ion-datetime placeholder="Selecciona la fecha" [min]="today" [max]="maxDate"
              monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
              [(ngModel)]="f_seguimiento" displayFormat="MMM DD, YYYY">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Hora: </ion-label>
            <ion-datetime placeholder="Selecciona la hora" [(ngModel)]="h_seguimiento" displayFormat="hh-mm-A">
            </ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Tipo de seguimiento:</ion-label>
            <ion-select placeholder="Selecciona una opción" [(ngModel)]="tipo_seg">
              <ion-select-option value="Prospecto">Prospecto</ion-select-option>
              <ion-select-option value="Cotización">Cotización</ion-select-option>
              <ion-select-option value="Seguimiento">Seguimiento</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Acción del seguimiento:</ion-label>
            <ion-select placeholder="Selecciona una opción" [(ngModel)]="accion_seg">
              <ion-select-option value="Llamada">Llamada</ion-select-option>
              <ion-select-option value="Visita">Visita</ion-select-option>
            </ion-select>
          </ion-item>
        </div>


        <div *ngIf="estatusObra == 'terminada'">
          <ion-item>
            <ion-label>Motivo de termino:</ion-label>
            <ion-select placeholder="Selecciona una opción" [(ngModel)]="motivoGeneralTerm">
              <ion-select-option value="Otro proveedor">Otro proveedor</ion-select-option>
              <ion-select-option value="Termino de obra">Termino de obra</ion-select-option>
              <ion-select-option value="Cancelada por gobierno">Cancelada por gobierno</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <ion-item>
          <ion-textarea class="rounded" rows="3" placeholder="Comentarios de la visita..."
            [(ngModel)]="comenttariosVisita">
          </ion-textarea>
        </ion-item>

        <section>
          <ion-button (click)="backStep()">
            <ion-icon name="arrow-back-circle"></ion-icon> Regresar
          </ion-button>
          <ion-button color="success" [disabled]="!validaVisita()" (click)="guardarVisita()">
            Guardar <ion-icon name="checkmark-circle"></ion-icon>
          </ion-button>
        </section>
      </ion-list>
    </div>

    <form [formGroup]="formObra">
      <div *ngIf="step==4">
        <h1>Ubicación de la obra</h1>
        <ion-list lines="none" style="background: rgb(252, 255, 252, 0.4);">
          <ion-item-sliding>
            <agm-map [style.height.px]="height" [zoom]="zoom" [latitude]="lat" [longitude]="lng">
              <agm-marker *ngFor="let marker of listaObras" [iconUrl]="marker.iconData" [latitude]="marker.lat_obra"
                [longitude]="marker.lon_obra" [markerDraggable]="false">
                <agm-info-window #infoWindow>
                  <strong>Obra:</strong> {{ marker.nombre_obra }} <br>
                  <strong>Vendedor:</strong> {{ marker.idVendedor }} .- {{ marker.vendedorName }} <br>
                  <strong>estatus:</strong> {{ marker.estatus }}
                </agm-info-window>
              </agm-marker>
              <agm-marker [markerDraggable]="true" [zIndex]="10" [latitude]="lat" [longitude]="lng"
                (dragEnd)="markerDragEnd($event)">
              </agm-marker>
            </agm-map>
          </ion-item-sliding>
          <ion-item class="rounded">
            <div>
              <br>
              <p> <b>Dirección Google Maps: </b></p>
              <p> {{ direccion }}</p>
            </div>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirmar dirección: </ion-label>
            <ion-textarea class="rounded" rows="3" formControlName="direccion_vendedor"
              placeholder="Dirección de la obra...">
            </ion-textarea>
          </ion-item>
        </ion-list>

        <section>
          <ion-button (click)="cambioStep(4)">
            Siguiente <ion-icon name="arrow-forward-circle"></ion-icon>
          </ion-button>
        </section>

      </div>



      <div *ngIf="step==5">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre de obra: </ion-label>
            <ion-input class="rounded" formControlName="nombre_obra" placeholder="Nombre de la obra"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Tipo obra: </ion-label>
            <ion-input class="rounded" formControlName="tipo_obra" placeholder="Tipo de obra"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Responsable obra: </ion-label>
            <ion-input class="rounded" formControlName="resp_obra" placeholder="Responsable de la obra"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contacto responasable: </ion-label>
            <ion-input class="rounded" type="tel" formControlName="cont_resp" placeholder="000-000-0000"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Comentarios:</ion-label>
            <ion-textarea class="rounded" rows="3" formControlName="comentarios"
              placeholder="Cometarios generales de la obra...">
            </ion-textarea>
          </ion-item>

        </ion-list>

        <section class="ion-text-center">
          <ion-button (click)="backStep()">
            <ion-icon name="arrow-back-circle"></ion-icon> Regresar
          </ion-button>
          <ion-button color="success" [disabled]="!formObra.valid" (click)="cambioStep(5)">
            Siguiente <ion-icon name="arrow-forward-circle"></ion-icon>
          </ion-button>
        </section>
      </div>

    </form>

    <div id="verAsigCli" *ngIf="verAsigCli">
      <section>
        <ion-button color="danger" (click)="cancelCliente()">
          <ion-icon name="arrow-back-circle"></ion-icon>
        </ion-button>
        <ion-button color="primary" (click)="activarSeccion('verAddCli')">
          <ion-icon name="add-circle"></ion-icon> Nuevo
        </ion-button>
        <ion-button (click)="asigClienteFn()" *ngIf="SelCliente">
          <ion-icon name="user"></ion-icon> Asig Cli
        </ion-button>
      </section>

      <div *ngIf="SelCliente">
        <span> <b>Cliente seleccionado:</b> </span>
        <span> {{ SelCliente.nombre_cli }} </span>
      </div>

      <app-clientes-tab #tabClientes [origen]="'visita'" (selectCli)="verCliente($event)"></app-clientes-tab>

    </div>

    <div id="verAddCli" *ngIf="verAddCli">
      <ion-list>
        <form [formGroup]="formCliente">
          <ion-item>
            <ion-label position="floating">Nombre: </ion-label>
            <ion-input formControlName="nombre_cli"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">RFC: </ion-label>
            <ion-input formControlName="rfc_cli"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Nombre contacto (admin): </ion-label>
            <ion-input formControlName="name_cont_admin_cli"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Número de contacto (admin): </ion-label>
            <ion-input type="tel" formControlName="num_cont_admin_cli"></ion-input>
          </ion-item>
        </form>
      </ion-list>

      <section>
        <ion-button (click)="activarSeccion('verAsigCli')">
          <ion-icon name="arrow-back-circle"></ion-icon> Regresar
        </ion-button>
        <ion-button color="success" [disabled]="!formCliente.valid" (click)="guardarCli('verAsigCli')">
          <ion-icon name="checkmark-circle"></ion-icon> Guardar
        </ion-button>
      </section>
    </div>

  </div>

</ion-content>