.form-content{
    --padding-bottom: 16px;
    --padding-end: 16px;
    --padding-start: 16px;
    --padding-top: 22px;
}

ion-list ion-item{
    border-radius: 7px;
    margin-bottom: 15px;
    margin: 15px;
    
  }
  
  .principal{
    background-color: #553781 !important;
    border-radius: 10px;
    width: auto;
    margin-top: 15px !important;
    margin-bottom: 15px;
  }