#headerPrincipal {
    color: #fde26d !important;
  }
  
  #bienvenida1 {
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
    position: relative;
  }

  section {
    margin-top: 1em;
    margin-bottom: 2.5em;
  }

  section:not(.full-width),
  .full-width > header {
    padding: 0 10px;
  }

  #botonenviar1{
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
    //border-radius: 10px !important;
  }
  
  #botoncancelar1{
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    //border-radius: 10px !important;
  }

  .spin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 ion-spinner {
   transform: scale(2);
   color: mediumpurple;
 }