#menu-avatar {
    .icon-badge {
      top: 0px;
      right: 0px;
      background: #FF5D5D;
      color: white;
      font-size: 12px;
      position: absolute;
      padding: 5px 8px;
      border-radius: 15px;
    }
    
    .user-avatar {
      padding: .5em;
    }
    h3,
    .label {
      color: rgb(4, 156, 63);
      font-weight: bold;
    }
    .item {
      background: transparent;
    }
    ion-content {
      background: linear-gradient(48deg, rgba(8, 8, 8, 0.8) 0%, rgba(118, 115, 119, 0.86) 28%, rgba(201, 223, 223, 0.98) 93%, rgb(249, 250, 250) 100%);
    }
    .menu-inner {
      background: rgba(255, 255, 255, .3);
    }
  
  }

  .pruebamenu {
    background-color: #0f1722 !important;
    color: #ffffff;
    letter-spacing: 0.05em;
  }