<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon name="close" ></ion-icon>Cancelar
    </ion-button>
  </ion-buttons>
  <ion-title>{{ viewTitle }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="save()" [disabled]="!SelCliente">
      <ion-icon name="checkmark"></ion-icon>Guardar
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-item class="rounded" *ngIf="SelCliente">
    <div>
      <br>
      <p> <b>Cliente seleccionado: </b></p>
      <p> {{ SelCliente.nombre_cli }}</p>
    </div>
  </ion-item>
  <app-clientes-tab #tabClientes [origen]="'visita'" (selectCli)="verCliente($event)" ></app-clientes-tab>
</ion-content>
