<ion-toolbar color="primary">
  <ion-title>Modificar hora</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="close()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Tipo de seguimiento:</ion-label>
      <ion-datetime placeholder="Selecciona la nueva hora" [(ngModel)]="currentHora" displayFormat="hh-mm-A">
      </ion-datetime>
    </ion-item>

    <section class="ion-text-center">
      <ion-button color="success" (click)="modificarHora()">
        <ion-icon name="checkmark-circle"></ion-icon> Guardar
      </ion-button>
    </section>
  </ion-list>

</ion-content>