<div class="spin" *ngIf="!done">
  <ion-spinner name="bubbles"></ion-spinner>
</div>

<div *ngIf="done">

  <div class="alerta" *ngIf="errorSinObras">
    <strong>No tienes obras activas:</strong>
    <br>
    <p>
      No tienes obras para el registro de una visita.
    </p>
  </div>

  <div *ngIf="!errorSinObras">
    <ngx-datatable style="width: 100%; height: 75vh;" [scrollbarV]="true" class="material" [limit]="8" [rows]="rows"
      [rowHeight]="60" [scrollbarH]="true" [columnMode]="'force'" [sortType]="'multi'" [headerHeight]="50"
      [footerHeight]="50" [limit]="15">

      <!-- <ngx-datatable-column name="idSistema" [cellClass]="'cell-datatable'">
      <ng-template ngx-datatable-header-template>
        <b>ID</b>
      </ng-template>
    </ngx-datatable-column>-->
      <ngx-datatable-column prop="nombre_obra" [cellClass]="'cell-datatable'">
        <ng-template ngx-datatable-header-template>
          <b>Nombre obra</b>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.nombre_obra}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="resp_obra" [sortable]="true" [cellClass]="'cell-datatable'">
        <ng-template ngx-datatable-header-template>
          <b>Responsable</b>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="nombreCli" [sortable]="true" [cellClass]="'cell-datatable'">
        <ng-template ngx-datatable-header-template>
          <b>Cliente</b>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="vendedorName" [sortable]="true" [cellClass]="'cell-datatable'">
        <ng-template ngx-datatable-header-template>
          <b>Vendedor</b>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.currentVendedor }} .- {{ row.vendedorName }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="f_creado" [sortable]="true" [cellClass]="'cell-datatable'">
        <ng-template ngx-datatable-header-template>
          <b>F Creado</b>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.f_creado.seconds * 1000 |date :'short' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="estatus" [sortable]="true" [cellClass]="'cell-datatable'">
        <ng-template ngx-datatable-header-template>
          <b>Estatus</b>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="acciones" [cellClass]="'cell-datatable'">
        <ng-template ngx-datatable-header-template>
          <b>Acciones</b>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-row="row">
          <div>
            <ion-button color="primary" *ngIf="origen=='obra'" style="border-radius: 10px;" (click)="goToEditObra(row)"
              [disabled]="auth.dataUser['idNumerico']!=row.currentVendedor">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="primary" *ngIf="origen=='obra' && (!row.idCli)" style="border-radius: 10px;"
              (click)="goToAsingCliente(row)" [disabled]="auth.dataUser['idNumerico']!=row.currentVendedor">
              <img src="assets/icon/cliente.png" width="20">
            </ion-button>
            <ion-button color="success" *ngIf="origen=='visita' && row.estatus != 'terminada'" style="border-radius: 10px;"
              (click)="changeSelectObra(row)">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>