<ion-header>
  <ion-toolbar class="header-f1">
    <ion-buttons slot="start" id="headerPrincipal">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" id="headerPrincipal">
      <ion-button (click)="goToAddCliente()">
        Nuevo<ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="bienvenida1">Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='content-cli content-f1'>
  <app-clientes-tab #tabClientes ></app-clientes-tab>
</ion-content>