<ion-header>
  <ion-toolbar class="header-f1">
    <ion-buttons slot="start" id="headerPrincipal">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="bienvenida1">Bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-f1">

<div id="container">
    <strong>Acerca de esta app:</strong>
    <br>
    <p>
      El uso de esta app es para el registro y control de los prospectos de la empresa <b>TOTAL CONCRETOS</b>.
    </p>
  </div>

   <!-- <div class="alerta">
    <strong>No tienes obras activas:</strong>
    <br>
    <p *ngIf="false">
      Las obras registradas en el sistema estan en seguimiento o terminadas.
    </p>
    <p *ngIf="true">
      No tienes obras registradas en el sistema.
    </p>
  </div>-->

</ion-content>