<ion-header>
  <ion-toolbar class="header-f1">
    <ion-buttons slot="start" id="headerPrincipal">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="bienvenida1">Bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-principal-f1">
  
  <div id="container">
    <strong>Acerca de esta app:</strong>
    <br>

<p>
  El uso de esta app es para el registro y control de los prospectos relacionados con el proyecto <b>ASI</b> de la empresa <b>ECOGARMON</b>.
</p>
  </div>
  
</ion-content>
